<div class="standard-section">
   <div class="w-container container books-container">
     <h2 class="subhead">What you get</h2>
     <h3>Scifi, Fantasy, Superheroes, Cyclops People, Short Stories...</h3>
     <div class="w-row books">
       <div class="w-col w-col-3 w-col-small-6 w-clearfix">
         <img class="book" src="assets/bookofash.png" alt="bookofash.png">
       </div>
       <div class="w-col w-col-3 w-col-small-6 w-clearfix">
         <img class="book" src="assets/spectrum.jpg" alt="spectrum.jpg">
       </div>
       <div class="w-col w-col-3 w-col-small-6 w-clearfix">
         <img class="book" src="assets/artifact.png" alt="artifact.png">
       </div>
       <div class="w-col w-col-3 w-col-small-6 w-clearfix">
         <img class="book" src="assets/patronsaint.png" alt="patronsaint.png">
       </div>
     </div>
     <div class="w-row books">
       <div class="w-col w-col-3 w-col-small-6 w-clearfix">
         <img class="book" src="assets/heroics.png" alt="heroics.png">
       </div>
       <div class="w-col w-col-3 w-col-small-6 w-clearfix">
         <img class="book" src="assets/herebedragons.png" alt="herebedragons.png">
       </div>
       <div class="w-col w-col-3 w-col-small-6 w-clearfix">
         <img class="book" src="assets/red.jpg" alt="red.jpg">
       </div>
       <div class="w-col w-col-3 w-col-small-6 w-clearfix">
         <img class="book" src="assets/trying.png" alt="trying.png">
       </div>
     </div>
     <div class="w-row books">
       <div class="w-col w-col-3 w-col-small-6 w-clearfix">
         <img class="book" src="assets/abid.png" alt="abid.png">
       </div>
       <div class="w-col w-col-3 w-col-small-6 w-clearfix">
         <img class="book" src="assets/timeup.jpg" alt="timeup.jpg">
       </div>
       <div class="w-col w-col-3 w-col-small-6"></div>
       <div class="w-col w-col-3 w-col-small-6"></div>
     </div>
   </div>
 </div>
 <div>