 <div class="w-container container howmuch">
    <h2 class="subhead subhead-right">How much do you want to pay?</h2>
    <h3 class="h3-right">OFFER at least $20 and we'll throw in  2 additional books!</h3>
    <div class="w-row books additional-books">
      <div class="w-col w-col-6 w-col-small-4">
        <p>The starting price is only $10, but if you up that to at least $20, we'll give you our first non-fiction book, Treknology, and This Time Around, the followup to Time Up — both by Justin McLachlan</p>
      </div>
      <div class="w-col w-col-3 w-col-small-4 w-clearfix">
        <img class="book add-book" src="assets/treknolog.png" alt="treknolog.png">
      </div>
      <div class="w-col w-col-3 w-col-small-4 w-clearfix">
        <img class="book add-book" src="assets/thistimearound.jpg" alt="thistimearound.jpg">
      </div>
    </div>
  </div>
</div>