 <div class="w-container container howmuch">
    <h2 class="subhead subhead-right">How much do you want to pay?</h2>
    <h3 class="h3-right">OFFER at least $20 and we'll throw in  2 additional books!</h3>
    <div class="w-row books additional-books">
      <div class="w-col w-col-6 w-col-small-4">
        <p>The starting price is only $10, but if you up that to at least $20, we'll add  our first non-fiction book, Treknology, and This Time Around, the followup to Time Up — both by Justin McLachlan — to your bundle. That's 12 books!</p>
      </div>
      <div class="w-col w-col-3 w-col-small-4 w-clearfix">
      <div class="bookofash overlay-right" id="overlay">Star Trek's Tech 300 Years Ahead of the Future. What's already here? What's soon to come? Think... warp drive. Non-fiction.</div>
      <%= image_tag 'treknolog.png', class: 'book add-book' %>
      
      </div>
      <div class="w-col w-col-3 w-col-small-4 w-clearfix">
      <div class="bookofash overlay-right" id="overlay">The second book in the Station One Series. Follows Time Up.</div>
      
      <%= image_tag 'thistimearound.jpg', class: 'book add-book' %>
      
      </div>
    </div>
  </div>
</div>