<%= render 'books' %>
<%= render 'how_much' %> 
<%= render 'payment' %>

 <div class="need-help">
   <h3 class="need-help-head">need help? Email <%= mail_to "support@boxfirepress.com", "support@boxfirepress.com", subject: "Complete Collection Help" %></h3>
 </div>
 <div class="standard-section">
   <div class="w-container faq-container">
     <h2>Frequently asked questions</h2>
     <div class="w-row">
       <div class="w-col w-col-6">
         <div class="quesiont">What devices do these eBooks work on?</div>
         <p class="answer">You'll get links to download both the EPUB and MOBI versions of each ebook, so that should cover pretty much any device out there—particularly the iPad, iPhone, Kindle and Nook. You'll also have the option of sending the books straight to Readmill.</p>
         <div
         class="quesiont">How are they delivered?</div>
       <p class="answer">You'll get an email with links to download them after your order is complete.</p>
       <div class="quesiont">Which charity gets the 10 percent?</div>
       <p class="answer">The depends on you guys. Whichever one has the most votes at the end of the week :)</p>
     </div>
     <div class="w-col w-col-6">
       <div class="quesiont">I just want one or two of these. Can I purchase just those?</div>
       <p class="answer">All of these titles, with the exception of The Book of Ash and Spectrum (which are only in their prerelease form and currently only available with this bundle) can be purchased in either paperback or ebook form from places like iTunes, Amazon
         and Barnes &amp; Noble. Your local bookstore can order a print version for you if they don't have it in stock.</p>
       <div class="quesiont">What's a prerelease version?</div>
       <p class="answer">Both The Book of Ash and Spectrum aren't scheduled to be published until later this year, but we're offering the prerelease versions as a part of this bundle (the first prerelease version of Spectrum will be delivered in a separate email toward
         the end of the month). That means they're not fully proofed so you'll find some typos and other problems. The text may change between now and the release date, too. When the final books are ready, you'll get an email with instructions on how
         to download those, too.</p>
     </div>
   </div>
 </div>
 </div>
 
 <script type="text/javascript">
 var fb_param = {};
 fb_param.pixel_id = '6007861833233';
 fb_param.value = '0.00';
 fb_param.currency = 'USD';
 (function(){
   var fpw = document.createElement('script');
   fpw.async = true;
   fpw.src = '//connect.facebook.net/en_US/fp.js';
   var ref = document.getElementsByTagName('script')[0];
   ref.parentNode.insertBefore(fpw, ref);
 })();
 </script>
 <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6007861833233&amp;value=0&amp;currency=USD" /></noscript>
