// Place all the styles related to the front controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stripe-button-el {margin:25px 0 0 0;}

ul.top-five-list {list-style:none;padding:0px;}
.top-five-list li {font-size:170%;padding:0px 0px 15px 0px;font-weight:200;}


#defaultCountdown {  }
.countdown_rtl {
	direction: rtl;
}
.countdown_holding span {
	color: #888;
}
.countdown_row {
	
	padding: 0px 0px;
}
.countdown_section {
	display: inline-block;
	padding: 0px 35px 0 0;

}
.countdown_amount, .countdown_descr {
	font-size:55px;
}
.countdown_descr {
}
.need-help-head a {
	text-decoration:none;
	font-weight:400;
	color:#333;
}
.need-help-head a:hover {
	color:#666;
}

/* FLASH */
#msg {display:none;font-size:2em;line-height:1.2em;z-index:99;position:fixed;width:100%;padding:25px 0px;background-color:rgb(0,0,0);background-color:rgba(0,0,0,.6); 
	font-family: "proxima-nova-condensed",sans-serif;
	font-weight:300;}
.error {color:#FF8C00;}
.notice {color:#1E90FF;}

#msg a {color:#FF8C00;}
#msg a:hover {color:#fff;}